* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  scroll-behavior: smooth;
}

.header_container {
  background-color: #1e252f;
  width: 100%;
  height: 80vh;
  padding-top: 2.6rem;
  padding-left: 6rem;
  padding-right: 6rem;
}

.logo_menu_c0ntainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_text {
  color: whitesmoke;
  cursor: pointer;
}

.menu_ul {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.menu_li {
  list-style: none;
  transition: transform 0.6s ease;
}

.menu_li:hover {
  transform: scale(1.1);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.menu_a {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
}

.menu_ul li a:focus {
  color: #00effc;
}

.menu_a:hover {
  color: #00effc;
}
.Hero_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4rem;
}
.hello_text,
.name_text,
.developer_text,
.paragraph_text {
  color: whitesmoke;
}
.developer_span {
  color: #00effc;
}

.hello_text,
.developer_span {
  font-size: 1.2rem;
}

.hello_text,
.developer_text,
.name_text,
.paragraph_text,
.logos_div {
  margin-bottom: 0.6rem;
}

.logos_div {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.github_logo_div,
.linkiden_logo_div,
.twitter_logo_div,
.tiktok_logo_div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #00effc;
  border-radius: 100%;
  width: 6.2%;
  height: 1.7rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.github_logo_div:hover,
.linkiden_logo_div:hover,
.twitter_logo_div:hover,
.tiktok_logo_div:hover {
  transform: scale(1.1);
}

.github_logo_div:hover,
.linkiden_logo_div:hover,
.twitter_logo_div:hover,
.tiktok_logo_div:hover {
  transform: scale(1.1);
  color: rgb(255, 255, 255, 0.8);
  border: none;
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    border: 4px solid #00effc;
    border-radius: 1rem;
    transition: all 0.3s;
    animation: clippath 4s infinite linear;
  }
  /* &::after {
      animation: clippath 3s infinite -0.5s linear;
  } */
}

@keyframes clippath {
  0%,
  100% {
    clip-path: inset(0 0 98% 0);
  }

  25% {
    clip-path: inset(0 98% 0 0);
  }
  50% {
    clip-path: inset(98% 0 0 0);
  }
  75% {
    clip-path: inset(0 0 0 98%);
  }
}

.tiktok_img,
.twitter_img,
.linkiden_img,
.github_img {
  width: 12px;
  cursor: pointer;
}
.twitter_img {
  padding-top: 0.2rem;
}
.linkiden_img {
  padding-bottom: 0.2rem;
}

.cv_btn {
  padding: 0.8rem 1.8rem 0.8rem 1.8rem;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  background-color: #00effc;
  box-shadow: 0 0 0.1px #00effc, 0 0 0.1px #00effc, 0 0 20px #00effc,
    0 0 0.1px #00effc;
  transition: background-color 0.6s ease;
}

.cv_btn:hover {
  background-color: #ffffff;
  border: none;
}

.cv_btn:focus {
  outline: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.right_side_container {
  background-color: #00effc;
  border-bottom-left-radius: 4rem;
  border-bottom-right-radius: 4rem;
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
  box-shadow: 0 18px 18px -6px #00effc;
}

.Hero_imge {
  width: 14rem;
  border-bottom-left-radius: 4rem;
  border-bottom-right-radius: 4rem;
}

.section_container {
  background-color: #343a46;
}

.innerSection_container {
  padding-top: 6rem;
  padding-bottom: 6rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.paragraph2_text {
  width: 35rem;
  color: whitesmoke;
  margin-top: 1rem;
}

.leftImage_container {
  border: 4px solid #00effc;
  border-bottom-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
  width: 16rem;
  height: 16rem;
  margin-left: 10rem;
}

.aboutMe_image {
  margin-left: -1rem;
  margin-top: -6rem;
  border-bottom-left-radius: 6rem;
  border-bottom-right-radius: 7rem;
  width: 18rem;
  height: 21.5rem;
  padding-top: 2rem;
}

.read_more_btn {
  margin-top: 1.6rem;
  padding: 0.8rem 1.8rem 0.8rem 1.8rem;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  background-color: #00effc;
  box-shadow: 0 0 0.1px #00effc, 0 0 0.1px #00effc, 0 0 20px #00effc,
    0 0 0.1px #00effc;
  transition: background-color 0.6s ease;
}

.read_more_btn:hover {
  background-color: rgb(255, 255, 255);
}

.read_more_btn:focus {
  outline: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.me_span {
  color: #00effc;
}
.about_me_text {
  color: whitesmoke;
  margin-bottom: 0.6rem;
  font-size: 2.5rem;
}
.frontend_text {
  color: whitesmoke;
  font-size: 2rem;
}

.righttext_andbutton_container {
  margin-left: 2rem;
}

.containers_div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}
.ourServices_wrapper {
  background-color: #1e252f;
}

.our_services_text {
  text-align: center;
  color: whitesmoke;
  padding-top: 4rem;
}
.ourservices_span {
  color: #00effc;
}
.webdev_div,
.graphicdesign_div,
.digialmarketing_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  background-color: #343a46;
  padding: 2rem;
  border-radius: 0.6rem;
  box-shadow: 0 8px 6px rgba(0, 0, 0, 0.2),
    0 0 0 1px rgba(255, 255, 255, 0.053) inset;
}

.webdev_btn,
.graphicdesign_btn,
.digialmarketing_btn {
  margin-top: 1.6rem;
  padding: 0.8rem 1.8rem 0.8rem 1.8rem;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  background-color: #00effc;
  box-shadow: 0 0 0.1px #00effc, 0 0 0.1px #00effc, 0 0 20px #00effc,
    0 0 0.1px #00effc;
  transition: background-color 0.3s ease;
}

.webdev_btn:hover,
.graphicdesign_btn:hover,
.digialmarketing_btn:hover {
  background-color: whitesmoke;
}

button:focus {
  outline: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.webdev_text,
.graphicdesign_text,
.digialmarketing_text {
  color: whitesmoke;
  margin-bottom: 0.6rem;
}
.webDev_para_text,
.graphicdesignpara_text,
.digialmarketing_para_text {
  color: whitesmoke;
  margin-bottom: 0.8rem;
}
.webdev_text,
.graphicdesign_text,
.digialmarketing_text {
  font-size: 1.2rem;
}
.code_logo,
.webdev_logo,
.graphicdesign_logo {
  width: 10%;
  margin-bottom: 0.6rem;
}
.webDev_para_text,
.graphicdesignpara_text,
.digialmarketing_para_text {
  text-align: center !important;
}

.latestproject_div {
  background-color: #343a46;
}

.images_123_div,
.image_456_div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}
.images_123_div {
  gap: 2rem;
}

.image_456_div {
  padding-bottom: 3rem;
  gap: 2rem;
}

.projects_image {
  width: 300px;
  margin: 0.9rem;
  margin-bottom: 2.6rem;
  border-radius: 1rem;
  box-shadow: 0 0 0.1px #00effc, 0 0 0.1px #00effc, 0 0 10px #00000000,
    0 0 0.1px #00effc;
}

.div_1,
.div_2,
.div_3,
.div_4,
.div_5,
.div_6 {
  display: flex;
  justify-content: center;
  background-color: rgba(245, 245, 245, 0);
  width: 20rem;
  height: 16rem;
  border-radius: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  box-shadow: 0 0 0.1px #00effc, 0 0 0.1px #00effc, 0 0 6px #00effc,
    0 0 0.1px #00effc;
  position: relative;
  transition: transform 0.6s ease;
}

.div_1:hover,
.div_2:hover,
.div_3:hover,
.div_4:hover,
.div_5:hover,
.div_6:hover {
  transform: scale(1.1);
  color: rgb(255, 255, 255, 0.8);
  border: none;
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    border: 4px solid #00effc;
    border-radius: 1rem;
    transition: all 0.3s;
    animation: clippath 4s infinite linear;
  }
  /* &::after {
      animation: clippath 3s infinite -0.5s linear;
  } */
}

@keyframes clippath {
  0%,
  100% {
    clip-path: inset(0 0 98% 0);
  }

  25% {
    clip-path: inset(0 98% 0 0);
  }
  50% {
    clip-path: inset(98% 0 0 0);
  }
  75% {
    clip-path: inset(0 0 0 98%);
  }
}

.latestproject_text {
  text-align: center;
  color: whitesmoke;
  padding-top: 4rem;
  margin-bottom: 2rem;
  font-size: 1.8rem;
}

.latest_project_span {
  color: #00effc;
}
.form_section_div {
  background-color: #1e252f;
  padding-bottom: 4rem;
}
.contact_me_tex {
  margin-bottom: 2rem;
  text-align: center;
  color: whitesmoke;
  padding-top: 4rem;
}

.contactme_span {
  color: #00effc;
}

/* FORM DESIGN  STARTS ERE */
.form-container {
  max-width: 400px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group textarea {
  height: 100px;
}

.form-group input[type="submit"] {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

.submit_form_tn {
  margin-top: 1.6rem;
  padding: 0.8rem 1.8rem 0.8rem 1.8rem;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  background-color: #00effc;
  box-shadow: 0 0 0.1px #00effc, 0 0 0.1px #00effc, 0 0 20px #00effc,
    0 0 0.1px #00effc;
  text-align: center;
  transition: background-color 0.3s ease;
}

.submit_form_tn:hover {
  background-color: whitesmoke;
}

.submit_form_tn:focus {
  outline: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
}
#first-name,
#last-name,
#message {
  outline: none;
  background-color: #343a46;
  color: whitesmoke;
}
::placeholder {
  color: whitesmoke;
}
:placeholder-shown {
  color: whitesmoke;
}
/* FORM DESING ENDS HERE */

.footer_div {
  padding-top: 2rem;
}
.footer_text {
  text-align: center;
  color: whitesmoke;
}

/* SCROLLUP BAR STARS HERE */
#scrollUpButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  font-size: 24px;
  background-color: #00effc;
  color: #000000;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.6s ease;
}

#scrollUpButton:hover {
  background-color: whitesmoke;
  box-shadow: 0 0 0.1px #00effc, 0 0 0.1px #00effc, 0 0 20px #00f2ff,
    0 0 0.1px #00effc;
  transform: scale(1.1);
}
#scrollUpButton:focus {
  outline: none;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

/* SCROLLUP BAR ENDS HERE */
