*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
body {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.mobile_menu_icon_div {
  display: none;
}

.header_container {
  padding-top: 3rem;
  padding-bottom: 6rem;
  background: #10101a;
  width: 100%;
  height: 100vh;
  padding-left: 6rem;
  padding-right: 6rem;
}

.logo_menu_c0ntainer {
  display: flex;
  justify-content: space-between;
}

.logo_text {
  color: whitesmoke;
  cursor: pointer;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.menu_ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}
.menu_li {
  list-style: none;
}

.menu_a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  padding-top: 10rem;
  color: #858792;
  position: relative;
  transition: color 0.8s ease;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}
.menu_a:hover {
  color: #00effc;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  transform: scale(1);
}

.menu_ul li a:focus {
  color: #00effc;
}
.Hero_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
}
.hello_text,
.name_text,
.paragraph_text {
  color: whitesmoke;
  font-size: 1.6rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}
.developer_text {
  margin-top: 2rem;
  color: #858792;
}

/* TEXT ANIMATION STARTS FROM HERE */
.developer_text {
  position: relative;
  font-size: 2vw;
  color: #ffffff29;
  text-transform: uppercase;
}

.developer_text::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: #00effc;
  -webkit-text-stroke: 0.1vh #00effc;
  border-right: 2px solid #00effc;
  overflow: hidden;
  animation: animate 6s linear infinite;
}

@keyframes animate {
  0%,
  10%,
  100% {
    width: 0%;
  }
  70% {
    width: 86%;
  }
}

.developer_text2 {
  position: relative;
  font-size: 2vw;
  color: #ffffff29;
  text-transform: uppercase;
}

.developer_text2::before {
  content: attr(data-text2);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: #00effc;
  -webkit-text-stroke: 0.1vh #00effc;
  overflow: hidden;
  animation: animate 6s linear reverse infinite;
}

/* TEXT ANIMATION ENDS FROM HERE */
.paragraph_text {
  font-weight: lighter;
}

.name_text {
  font-weight: bolder;
  font-size: xx-large;
}

.hello_text,
.name_text {
  font-size: 3rem;
}

.hello_text,
.name_text,
.paragraph_text,
.logos_div {
  margin-bottom: 0.6rem;
}

.logos_div {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 2.9rem;
  margin-bottom: 2rem;
}

.github_logo_div,
.linkiden_logo_div,
.twitter_logo_div,
.tiktok_logo_div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 11.1%;
  height: 2.5rem;
  cursor: pointer;
  transition: transform 0.6s ease;
  border: 2px solid rgba(255, 249, 249, 0.107);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.github_logo_div:hover,
.linkiden_logo_div:hover,
.twitter_logo_div:hover,
.tiktok_logo_div:hover {
  transform: scale(1.1);
  border: 1px solid #06dfe2;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.tiktok_img,
.twitter_img,
.linkiden_img,
.github_img {
  width: 16px;
  cursor: pointer;
}
.twitter_img {
  padding-top: 0.2rem;
}
.linkiden_img {
  padding-bottom: 0.2rem;
}

.cv_btn {
  margin-top: 0.4rem;
  padding-left: 40px;
  padding-right: 40px;
  height: 70px;
  line-height: 50px;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  font-size: 1rem;
  color: whitesmoke;
  cursor: pointer;
  border: 1px solid rgba(255, 249, 249, 0.107);
  background-color: #252734;
  transition: transform 0.9s ease;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.126);
}

.cv_btn:hover {
  transform: scale(1.1);
  border: 1px solid rgba(0, 0, 0, 0.183);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.cv_btn:focus {
  outline: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.right_side_container {
  width: 30%;
  height: 50vh;
  background-color: #ffffff;
  border-bottom-left-radius: 4rem;
  border-bottom-right-radius: 4rem;
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
  box-shadow: 0 1px 6px 2px #00000031;
}

.Hero_imge {
  width: 21.6rem;
  border-bottom-left-radius: 4rem;
  border-bottom-right-radius: 4rem;
}

.section_container {
  background: #2a2c39;
}

.innerSection_container {
  padding-top: 6rem;
  padding-bottom: 6rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.paragraph2_text {
  width: 35rem;
  color: whitesmoke;
  margin-top: 1rem;
  font-size: 1.1rem;
  line-height: 2rem;
}

.leftImage_container {
  border: 4px solid #00effc;
  border-bottom-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
  width: 26%;
  height: 51vh;
  margin-left: 10rem;
}

.aboutMe_image {
  width: 21.7rem;
  border-bottom-left-radius: 4rem;
  border-bottom-right-radius: 4rem;
}

.read_more_btn {
  margin-top: 3rem;
  padding-left: 40px;
  padding-right: 40px;
  height: 70px;
  line-height: 50px;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  font-size: 1rem;
  color: whitesmoke;
  cursor: pointer;
  border: 0.1px solid rgba(255, 249, 249, 0.107);
  background-color: #252734;
  transition: transform 0.9s ease;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.126);
}

.read_more_btn:hover {
  transform: scale(1.1);
  border: 1px solid rgba(0, 0, 0, 0.183);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.read_more_btn:focus {
  outline: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.me_span {
  color: #00effc;
}
.about_me_text {
  color: whitesmoke;
  margin-top: 4rem;
  margin-bottom: 0.6rem;
  font-size: 2.5rem;
}
.frontend_text {
  color: whitesmoke;
  font-size: 1.6rem;
}

.righttext_andbutton_container {
  padding-top: 3rem;
}

.containers_div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}
.ourServices_wrapper {
  background: #252734;
}

.our_services_text {
  text-align: center;
  color: whitesmoke;
  padding-top: 4rem;
  font-size: 2rem;
}
.ourservices_span {
  color: #00effc;
}
.webdev_div,
.graphicdesign_div,
.digialmarketing_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  background: #2a2c39;
  padding: 2rem;
  border-radius: 0.6rem;
  box-shadow: 0 8px 6px rgba(0, 0, 0, 0.105),
    0 0 0 1px rgba(255, 255, 255, 0.053) inset;
}

.webdev_btn,
.graphicdesign_btn,
.digialmarketing_btn {
  margin-top: 1.8rem;
  padding-left: 40px;
  padding-right: 40px;
  height: 70px;
  line-height: 50px;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  font-size: 1rem;
  color: whitesmoke;
  cursor: pointer;
  border: 0.1px solid rgba(0, 0, 0, 0.226);
  background-color: #252734;
  transition: transform 0.9s ease;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.126);
}

.webdev_btn:hover,
.graphicdesign_btn:hover,
.digialmarketing_btn:hover {
  transform: scale(1.1);
  border: 1px solid rgba(0, 0, 0, 0.183);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

button:focus {
  outline: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.webdev_text,
.graphicdesign_text,
.digialmarketing_text {
  color: whitesmoke;
  margin-bottom: 0.6rem;
}
.webDev_para_text,
.graphicdesignpara_text,
.digialmarketing_para_text {
  color: whitesmoke;
  margin-bottom: 0.8rem;
}
.webdev_text,
.graphicdesign_text,
.digialmarketing_text {
  font-size: 1.2rem;
}
.code_logo,
.webdev_logo,
.graphicdesign_logo {
  width: 10%;
  margin-bottom: 0.6rem;
}
.webDev_para_text,
.graphicdesignpara_text,
.digialmarketing_para_text {
  text-align: center !important;
}

.latestproject_div {
  background: #2a2c39;
}

.images_123_div,
.image_456_div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}
.images_123_div {
  gap: 2rem;
}

.image_456_div {
  padding-bottom: 3rem;
  gap: 2rem;
}

.projects_image {
  padding-top: 0.4rem;
  width: 300px;
  margin: 0.9rem;
  margin-bottom: 2.6rem;
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.div_1,
.div_2,
.div_3,
.div_4,
.div_5,
.div_6 {
  display: flex;
  justify-content: center;
  background-color: rgba(245, 245, 245, 0);
  width: 20rem;
  height: 16rem;
  border-radius: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  box-shadow: 0 0 0.1px #000000, 0 0 0.1px #000000, 0 0 4px #000000,
    0 0 0.1px #000000;
  position: relative;
  transition: transform 0.6s ease;
}

.div_1:hover,
.div_2:hover,
.div_3:hover,
.div_4:hover,
.div_5:hover,
.div_6:hover {
  transform: scale(1.1);
  color: rgb(255, 255, 255, 0.8);
  border: none;
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    border: 2px solid #f4f5f9;
    border-radius: 1rem;
    transition: all 0.4s;
    animation: clippath 4s infinite linear;
  }
  /* &::after {
      animation: clippath 3s infinite -0.5s linear;
  } */
}

@keyframes clippath {
  0%,
  100% {
    clip-path: inset(0 0 98% 0);
  }

  25% {
    clip-path: inset(0 98% 0 0);
  }
  50% {
    clip-path: inset(98% 0 0 0);
  }
  75% {
    clip-path: inset(0 0 0 98%);
  }
}

.latestproject_text {
  text-align: center;
  color: whitesmoke;
  padding-top: 4rem;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.latest_project_span {
  color: #00effc;
}
.form_section_div {
  background: #2a2c39;
  padding-bottom: 4rem;
}
.contact_me_tex {
  margin-bottom: 2rem;
  text-align: center;
  color: whitesmoke;
  padding-top: 4rem;
  font-size: 2rem;
}

.contactme_span {
  color: #00effc;
}

/* FORM DESIGN  STARTS ERE */
.form-container {
  max-width: 400px;
  margin: 0 auto;
  box-shadow: 0 8px 6px rgba(0, 0, 0, 0.105),
    0 0 0 1px rgba(255, 255, 255, 0.053) inset;
  padding: 2rem;
  border-radius: 1rem;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #858792;
  border-radius: 4px;
}

.form-group textarea {
  height: 100px;
}

.form-group input[type="submit"] {
  background-color: #4caf50;
  color: #858792;
  cursor: pointer;
}

.submit_form_tn {
  margin-top: 1.8rem;
  padding-left: 40px;
  padding-right: 40px;
  height: 70px;
  line-height: 50px;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  font-size: 1rem;
  color: whitesmoke;
  cursor: pointer;
  border: 0.1px solid rgba(255, 249, 249, 0.107);
  background-color: #252734;
  transition: transform 0.9s ease;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.126);
}

.submit_form_tn:hover {
  transform: scale(1.1);
  border: 1px solid rgba(0, 0, 0, 0.183);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.submit_form_tn:focus {
  outline: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
}
#first-name,
#last-name,
#message {
  outline: none;
  background-color: #343a46;
  color: whitesmoke;
}
::placeholder {
  color: #858792;
}
:placeholder-shown {
  color: whitesmoke;
}
/* FORM DESING ENDS HERE */

.footer_div {
  padding-top: 2rem;
}
.footer_text {
  text-align: center;
  color: whitesmoke;
}

/* SCROLLUP BAR STARS HERE */
#scrollUpButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  font-size: 24px;
  background-color: #252734;
  color: #cec8c8;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.9s ease;
  width: 56px;
  height: 56px;
  border: 1px solid rgba(255, 249, 249, 0.107);
}

#scrollUpButton:hover {
  background-color: rgba(245, 245, 245, 0.082);
  box-shadow: 0 0 0.1px #000000, 0 0 0.1px #000000, 0 0 20px #000000,
    0 0 0.1px #000000;
  transform: scale(1.1);
}
#scrollUpButton:focus {
  outline: none;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.621);
}

/* SKILLS BAR CSS STARTS FROM HERE */

li {
  list-style-type: none;
  font-family: sans-serif;
  padding-bottom: 2rem;
}

.skills {
  width: 500px;
  height: 16rem;
  padding-bottom: 10rem;
  margin: 60px auto;
  color: #fff;
}
.our_services_text {
  padding-top: -60rem;
}

.bar {
  background-color: #ffffff;
  display: block;
  height: 4px;
  border: 1px solid #000000;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 10px #00000065;
}

.bar span {
  height: 4px;
  float: left;
  background-color: #0dfbff;
}

li > h3 {
  padding-bottom: 1.4rem;
}

.html {
  width: 80%;
  animation: html 2s;
}

.css {
  width: 93%;
  animation: css 2s;
}

.javascript {
  width: 50%;
  animation: javascript 2s;
}

.jquery {
  width: 70%;
  animation: jquery 2s;
}

@keyframes html {
  0% {
    width: 0%;
  }

  100% {
    width: 80%;
  }
}

@keyframes css {
  0% {
    width: 0%;
  }

  100% {
    width: 93%;
  }
}

@keyframes javascript {
  0% {
    width: 0%;
  }

  100% {
    width: 50%;
  }
}

@keyframes jquery {
  0% {
    width: 0%;
  }

  100% {
    width: 30%;
  }
}

/* SKILLS BAR CSS ENDS FROM HERE */
/* SCROLLUP BAR ENDS HERE */

/* snap scroll starts from here */

#About,
#Services,
#Portfolio,
#Contact {
  scroll-snap-align: start;
  opacity: 1;
  animation: slideDownAnimation 1s ease-in-out;
}

@keyframes slideDownAnimation {
  0% {
    transform: translateY(-10%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* MEDIA QUERIES STARTS FROM HERE */
/* Extra Small Devices (Phones) */

@media screen and (max-width: 320px) {
  /* *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  .header_container {
    height: 100%;
    width: 100%;
  }

  .menu_ul {
    scroll-snap-align: start;
    opacity: 1;
    animation: slideDownAnimation 1s ease-in-out;
  }

  @keyframes slideDownAnimation {
    0% {
      transform: translatey(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(10);
      opacity: 1;
    }
  }

  .mobile_menu_icon_div {
    display: flex;
    margin-top: -0.2rem;
    margin-left: 3rem;
  }
  #menu_open,
  #menu_close {
    margin-top: 0.1rem;
    width: 2.2rem;
  }
  .menu_a {
    display: flex;
    padding-top: 1rem;
    font-size: 1.3rem;
  }

  .logo_icon {
    width: 1.7rem;
    margin-top: -0.2rem;
    margin-right: -2rem;
    cursor: pointer;
  }

  .logo_icon2 {
    width: 1.7rem;
    margin-top: -0.2rem;
    margin-right: -2rem;
    cursor: pointer;
  }

  .logo_text {
    margin-left: 0.4rem;
    white-space: nowrap;
    font-size: 1.4rem;
  }

  .logo_menu_c0ntainer {
    display: block;
    margin-top: -1.2rem;
  }

  .logo_conatiner {
    display: flex;
    margin-left: -4.6rem;
    font-size: 0.9rem;
    gap: 2rem;
  }
  .menu_ul {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    font-size: 2rem;
    padding-bottom: 4rem;
  }

  .hidden {
    display: none;
  }

  .Hero_wrapper {
    display: flex;
    flex-direction: column;
  }

  .hello_text {
    font-size: 2rem;
    text-align: center;
  }

  .name_text {
    font-size: 2.1rem;
    white-space: nowrap;
    text-align: center;
  }

  .developer_text,
  .developer_text2 {
    font-size: 1.2rem;
    white-space: nowrap;
    text-align: ce;
  }
  .logos_div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .github_logo_div,
  .linkiden_logo_div,
  .twitter_logo_div,
  .tiktok_logo_div {
    width: 3rem;
    height: 3rem;
  }

  .cv_btn {
    display: block;
    margin: 0 auto;
    margin-bottom: 2rem;
  }

  .right_side_container {
    display: none;
  }

  .right_side_container {
    width: 18rem;
    height: 18rem;
  }

  .Hero_imge {
    width: 18rem;
  }

  .innerSection_container {
    display: flex;
    flex-direction: column;
  }

  .leftImage_container {
    display: flex;
    margin: 0 auto;
    width: 65vw !important;
  }
  .images_123_div,
  .image_456_div {
    display: flex;
    flex-direction: column;
  }
  .righttext_andbutton_container {
    display: block;
    text-align: center;
    margin-top: 2rem;
    margin-left: -0.4rem;
  }
  .paragraph2_text {
    padding-left: 7.4rem;
    padding-right: 7.4rem;
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin-top: 1.2rem;
  }
  .leftImage_container {
    width: 60%;
    height: 230px;
  }
  .div_1,
  .div_2,
  .div_3,
  .div_4,
  .div_5,
  .div_6 {
    width: 90%;
    height: 230px;
  }
  .projects_image {
    width: 260px;
  }

  .about_me_text,
  .me_span {
    font-size: 2.2rem;
  }

  .frontend_text {
    font-size: 1.6rem;
  }

  .skills > li {
    font-size: 1.2rem;
  }

  .our_services_text,
  .latestproject_text,
  .contact_me_tex {
    font-size: 1.9rem !important;
  } */
}

@media screen and (min-width: 321px) and (max-width: 360px) {
  /* ANIMATION STARTS HERE */

  html,
  body {
    font-family: Mark Pro, sans-serif;
    background: #212121;
    height: 100%;
  }

  .container {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .text {
    font-weight: 100;
    font-size: 23px;
    color: #06dfe2;
  }

  .dud {
    color: whitesmoke;
  }
  .container {
    margin-top: 2rem;
    margin-bottom: 4rem;
  }

  /* ANIMATION ENDS HERE */

  .header_container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .logo_menu_c0ntainer {
    border-radius: 1rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    position: fixed;
    width: 80%;

    background: rgba(42, 43, 56, 0.5);
    -webkit-backdrop-filter: blur(104px);
    backdrop-filter: blur(104px);
    border-radius: 1rem;
    z-index: 2;
  }

  .animatemenu {
    animation: slideDownAnimation 1s 2s ease-in-out;
  }

  .menu_ul {
    width: 80%;
    position: fixed;
    margin-top: 2.4rem !important;

    scroll-snap-align: start;
    opacity: 1;
    animation: slideDownAnimation 1s ease-in-out;
    z-index: 1;

    background: rgba(42, 43, 56, 0.5);
    -webkit-backdrop-filter: blur(104px);
    backdrop-filter: blur(104px);
    border-radius: 1rem;
    z-index: 2;
    z-index: 1;
  }

  @keyframes slideDownAnimation {
    0% {
      transform: translatex(-100%);
      opacity: 0;

      background: rgba(24, 24, 27, 0.511);
    }
    50% {
      transform: translateY(50);
      opacity: 4;
    }
    100% {
      transform: translateYX(20);
      opacity: 2;
    }
  }

  .mobile_menu_icon_div {
    display: flex;
    margin-top: -0.2rem;
    margin-left: 4.4rem;
  }
  #menu_open {
    margin-top: 0.1rem;
    width: 2.4rem;
  }

  #menu_close {
    margin-top: 0.1rem;
    width: 1.4rem;
  }
  .menu_a {
    display: flex;
    padding-top: 1rem;
    font-size: 1.3rem;
  }

  .logo_icon {
    width: 1.7rem;
    margin-top: -0.2rem;
    margin-right: -2rem;
    cursor: pointer;
  }

  .logo_icon2 {
    width: 1.7rem;
    margin-top: -0.2rem;
    margin-right: -2rem;
    cursor: pointer;
  }

  .logo_text {
    margin-left: 1rem;
    white-space: nowrap;
    font-size: 1.3rem;
    margin-left: 5.6rem;
  }

  .logo_menu_c0ntainer {
    display: block;
    margin-top: -1.2rem;
  }

  .logo_conatiner {
    display: flex;
    align-items: center;
    margin-left: -4.6rem;
    font-size: 0.9rem;
    gap: 2rem;
  }
  .menu_ul {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    font-size: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: 85%;
  }

  .hidden {
    display: none;
  }

  .Hero_wrapper {
    margin-top: 9rem;
    display: flex;
    flex-direction: column;
  }

  .hello_text {
    font-size: 2rem;
    text-align: center;
  }

  .name_text {
    font-size: 2.1rem;
    white-space: nowrap;
    text-align: center;
  }

  .developer_text,
  .developer_text2 {
    font-size: 1.5rem;
    white-space: nowrap;
  }
  .logos_div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .github_logo_div,
  .linkiden_logo_div,
  .twitter_logo_div,
  .tiktok_logo_div {
    width: 2rem;
    height: 2rem;
  }

  .cv_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 2rem;
    width: 10rem;
    height: 3rem;
    white-space: nowrap;
  }

  .right_side_container {
    display: none;
  }

  .right_side_container {
    width: 18rem;
    height: 18rem;
  }

  .Hero_imge {
    width: 18rem;
  }

  .innerSection_container {
    display: flex;
    flex-direction: column;
  }

  .leftImage_container {
    display: flex;
    margin: 0 auto;
    width: 65vw !important;
  }
  .images_123_div,
  .image_456_div {
    display: flex;
    flex-direction: column;
  }
  .righttext_andbutton_container {
    display: block;
    text-align: center;
    margin-top: 2rem;
    margin-left: -0.4rem;
  }
  .paragraph2_text {
    padding-left: 7.4rem;
    padding-right: 7.4rem;
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin-top: 1.2rem;
  }
  .leftImage_container {
    width: 60%;
    height: 230px;
  }
  .div_1,
  .div_2,
  .div_3,
  .div_4,
  .div_5,
  .div_6 {
    width: 70%;
    height: 30rem;
    padding-top: 1rem;



    background: -webkit-gradient(linear,left top,left bottom,from(rgba(35,37,49,.5)),to(rgba(15,15,24,.5)));
    background: -webkit-linear-gradient(top,rgba(35,37,49,.5),rgba(15,15,24,.5));
    background: linear-gradient(180deg,rgba(35,37,49,.5),rgba(15,15,24,.5));
    border: 0.2rem solid #20222e;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-backdrop-filter: blur(54px);
    backdrop-filter: blur(54px);
  }
  .projects_image {
    width: 200px;
    height: 280px;
  }

  .about_me_text,
  .me_span {
    font-size: 2.2rem;
  }

  .frontend_text {
    font-size: 1.6rem;
  }

  .skills > li {
    font-size: 1.2rem;
  }

  .our_services_text,
  .latestproject_text,
  .contact_me_tex {
    font-size: 1.9rem !important;
  }

  .section_container {
    background-color: #10101a;
  }

  .ourServices_wrapper {
    background-color: #10101a;
  }

  .latestproject_div {
    background-color: #10101a;
  }

  .form_section_div {
    background-color: #10101a;
  }

  .logos_div {
    padding: 0.4rem;
  }
  .footer_div {
    margin-bottom: -6rem;
    background: rgba(42, 43, 56, 0.5);
    -webkit-backdrop-filter: blur(104px);
    backdrop-filter: blur(104px);
    padding: 0 1rem;
    width: 100%;
    z-index: 1;
  }
}
@media screen and (min-width: 361px) and (max-width: 414px) {
  .header_container {
    height: 100%;
    width: 100%;
  }

  .menu_ul {
    scroll-snap-align: start;
    opacity: 1;
    animation: slideDownAnimation 1s ease-in-out;
  }

  @keyframes slideDownAnimation {
    0% {
      transform: translatey(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(10);
      opacity: 1;
    }
  }

  .mobile_menu_icon_div {
    display: flex;
    margin-top: -0.2rem;
    margin-left: 7.2rem;
  }
  #menu_open,
  #menu_close {
    margin-top: 0.1rem;
    width: 2rem;
  }
  .menu_a {
    display: flex;
    padding-top: 1rem;
    font-size: 1.3rem;
  }

  .logo_icon {
    width: 1.7rem;
    margin-top: -0.2rem;
    margin-right: -2rem;
    cursor: pointer;
  }

  .logo_icon2 {
    width: 1.7rem;
    margin-top: -0.2rem;
    margin-right: -2rem;
    cursor: pointer;
  }

  .logo_text {
    white-space: nowrap;
    font-size: 1.5rem;
  }

  .logo_menu_c0ntainer {
    display: block;
    margin-top: -1.2rem;
  }

  .logo_conatiner {
    display: flex;
    margin-left: -4.6rem;
    font-size: 0.9rem;
    gap: 2rem;
  }
  .menu_ul {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    font-size: 2rem;
    padding-bottom: 4rem;
  }

  .hidden {
    display: none;
  }

  .Hero_wrapper {
    display: flex;
    flex-direction: column;
  }

  .hello_text {
    font-size: 2rem;
    text-align: center;
  }

  .name_text {
    font-size: 2.1rem;
    white-space: nowrap;
    text-align: center;
  }

  .developer_text,
  .developer_text2 {
    font-size: 1.5rem;
    white-space: nowrap;
  }
  .logos_div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .github_logo_div,
  .linkiden_logo_div,
  .twitter_logo_div,
  .tiktok_logo_div {
    width: 3rem;
    height: 3rem;
  }

  .cv_btn {
    display: block;
    margin: 0 auto;
    margin-bottom: 2rem;
  }

  .right_side_container {
    display: none;
  }

  .right_side_container {
    width: 18rem;
    height: 18rem;
  }

  .Hero_imge {
    width: 18rem;
  }

  .innerSection_container {
    display: flex;
    flex-direction: column;
  }

  .leftImage_container {
    display: flex;
    margin: 0 auto;
    width: 60vw !important;
  }
  .images_123_div,
  .image_456_div {
    display: flex;
    flex-direction: column;
  }
  .righttext_andbutton_container {
    display: block;
    text-align: center;
    margin-top: 2rem;
    margin-left: -0.4rem;
  }
  .paragraph2_text {
    padding-left: 6rem;
    padding-right: 6rem;
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin-top: 1.2rem;
  }
  .leftImage_container {
    width: 60%;
    height: 230px;
  }
  .div_1,
  .div_2,
  .div_3,
  .div_4,
  .div_5,
  .div_6 {
    width: 80%;
    height: 240px;
  }
  .projects_image {
    width: 260px;
  }

  .about_me_text,
  .me_span {
    font-size: 2.2rem;
  }

  .frontend_text {
    font-size: 1.6rem;
  }

  .skills > li {
    font-size: 1.2rem;
  }

  .our_services_text,
  .latestproject_text,
  .contact_me_tex {
    font-size: 1.9rem !important;
  }
}
@media screen and (min-width: 415px) and (max-width: 500px) {
  .header_container {
    height: 100%;
    width: 100%;
  }

  .menu_ul {
    scroll-snap-align: start;
    opacity: 1;
    animation: slideDownAnimation 1s ease-in-out;
  }

  @keyframes slideDownAnimation {
    0% {
      transform: translatey(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(10);
      opacity: 1;
    }
  }

  .mobile_menu_icon_div {
    display: flex;
    margin-top: -0.1rem;
    margin-left: 9rem;
  }
  #menu_open,
  #menu_close {
    margin-top: 0.1rem;
    width: 2rem;
  }
  .menu_a {
    display: flex;
    padding-top: 1rem;
    font-size: 1.3rem;
  }

  .logo_icon {
    width: 1.7rem;
    margin-top: -0.2rem;
    margin-right: -2rem;
    cursor: pointer;
  }

  .logo_icon2 {
    width: 1.7rem;
    margin-top: -0.2rem;
    margin-right: -2rem;
    cursor: pointer;
  }

  .logo_text {
    white-space: nowrap;
    font-size: 1.5rem;
  }

  .logo_menu_c0ntainer {
    display: block;
    margin-top: -1.2rem;
  }

  .logo_conatiner {
    display: flex;
    margin-left: -4.6rem;
    font-size: 0.9rem;
    gap: 2rem;
  }
  .menu_ul {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    font-size: 2rem;
    padding-bottom: 4rem;
  }

  .hidden {
    display: none;
  }

  .Hero_wrapper {
    display: flex;
    flex-direction: column;
  }

  .hello_text {
    font-size: 2rem;
    text-align: center;
  }

  .name_text {
    font-size: 2.1rem;
    white-space: nowrap;
    text-align: center;
  }

  .developer_text,
  .developer_text2 {
    font-size: 1.5rem;
    white-space: nowrap;
  }
  .logos_div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .github_logo_div,
  .linkiden_logo_div,
  .twitter_logo_div,
  .tiktok_logo_div {
    width: 3rem;
    height: 3rem;
  }

  .cv_btn {
    display: block;
    margin: 0 auto;
    margin-bottom: 2rem;
  }

  .right_side_container {
    display: none;
  }

  .right_side_container {
    width: 18rem;
    height: 18rem;
  }

  .Hero_imge {
    width: 18rem;
  }

  .innerSection_container {
    display: flex;
    flex-direction: column;
  }

  .leftImage_container {
    display: flex;
    margin: 0 auto;
    width: 60vw !important;
  }
  .images_123_div,
  .image_456_div {
    display: flex;
    flex-direction: column;
  }
  .righttext_andbutton_container {
    display: block;
    text-align: center;
    margin-top: 2rem;
    margin-left: -0.4rem;
  }
  .paragraph2_text {
    padding-left: 5rem;
    padding-right: 5rem;
    font-size: 1.2rem;
    line-height: 2rem;
    margin-top: 1.2rem;
  }
  .leftImage_container {
    width: 60%;
    height: 230px;
  }
  .div_1,
  .div_2,
  .div_3,
  .div_4,
  .div_5,
  .div_6 {
    width: 80%;
    height: 240px;
  }
  .projects_image {
    width: 260px;
  }

  .about_me_text,
  .me_span {
    font-size: 2.2rem;
  }

  .frontend_text {
    font-size: 1.6rem;
  }

  .skills > li {
    font-size: 1.2rem;
  }

  .our_services_text,
  .latestproject_text,
  .contact_me_tex {
    font-size: 1.9rem !important;
  }
}
@media screen and (min-width: 501px) and (max-width: 768px) {
  .header_container {
    height: 100%;
    width: 100%;
  }

  .menu_ul {
    scroll-snap-align: start;
    opacity: 1;
    animation: slideDownAnimation 1s ease-in-out;
  }

  @keyframes slideDownAnimation {
    0% {
      transform: translatey(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(10);
      opacity: 1;
    }
  }

  .mobile_menu_icon_div {
    display: flex;
    margin-top: -0.1rem;
    margin-left: 24rem;
  }
  #menu_open,
  #menu_close {
    margin-top: 0.1rem;
    width: 3rem;
  }
  .menu_a {
    display: flex;
    padding-top: 1rem;
    font-size: 2rem;
  }

  .logo_icon {
    width: 1.7rem;
    margin-top: -0.2rem;
    margin-right: -2rem;
    cursor: pointer;
  }

  .logo_icon2 {
    width: 1.7rem;
    margin-top: -0.2rem;
    margin-right: -2rem;
    cursor: pointer;
  }

  .logo_text {
    white-space: nowrap;
    font-size: 2.3rem;
    margin-left: 1rem;
  }

  .logo_menu_c0ntainer {
    display: block;
    margin-top: -1.2rem;
  }

  .logo_conatiner {
    display: flex;
    margin-left: -4.6rem;
    font-size: 0.9rem;
    gap: 2rem;
  }
  .menu_ul {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    font-size: 2rem;
    padding-bottom: 4rem;
  }

  .hidden {
    display: none;
  }

  .Hero_wrapper {
    display: flex;
    flex-direction: column;
  }

  .hello_text {
    font-size: 4rem;
    text-align: center;
  }

  .name_text {
    font-size: 4rem;
    white-space: nowrap;
    text-align: center;
  }

  .developer_text,
  .developer_text2 {
    font-size: 2.5rem;
    white-space: nowrap;
  }
  .logos_div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .github_logo_div,
  .linkiden_logo_div,
  .twitter_logo_div,
  .tiktok_logo_div {
    margin-bottom: 2rem;
    width: 5rem;
    height: 5rem;
  }

  .cv_btn {
    display: block;
    margin: 0 auto;
    font-size: 1.4rem;
  }

  .right_side_container {
    display: none;
  }

  .github_img,
  .linkiden_img,
  .twitter_img,
  .tiktok_img {
    width: 2rem;
  }
  .right_side_container {
    width: 18rem;
    height: 18rem;
  }

  .frontend_text {
    font-size: 3rem;
  }

  .Hero_imge {
    width: 18rem;
  }

  .innerSection_container {
    display: flex;
    flex-direction: column;
  }

  .leftImage_container {
    display: flex;
    margin: 0 auto;
    height: 20% !important;
    width: 40% !important;
  }
  .images_123_div,
  .image_456_div {
    display: flex;
    flex-direction: column;
  }
  .righttext_andbutton_container {
    display: block;
    text-align: center;
    margin-top: 2rem;
    margin-left: -0.4rem;
  }
  .paragraph2_text {
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 1.2rem;
  }
  .leftImage_container {
    width: 60%;
    height: 230px;
  }
  .div_1,
  .div_2,
  .div_3,
  .div_4,
  .div_5,
  .div_6 {
    width: 60%;
    height: 340px;
  }
  .projects_image {
    width: 420px;
  }

  .about_me_text,
  .me_span {
    font-size: 2.2rem;
  }

  .footer_text {
    margin-top: 0.6rem;
    font-size: 2rem !important;
  }

  .skills > li {
    font-size: 1.2rem;
  }

  .our_services_text,
  .latestproject_text,
  .contact_me_tex {
    font-size: 1.9rem !important;
  }

  #first-name,
  #last-name,
  #message {
    font-size: 1.4rem;
  }
  .form-container {
    width: 100%;
  }

  .footer_text {
    margin-top: 0.6rem;
    font-size: 2rem !important;
  }

  .submit_form_tn {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 834px) {
  .header_container {
    height: 100%;
    width: 100%;
  }

  .menu_ul {
    scroll-snap-align: start;
    opacity: 1;
    animation: slideDownAnimation 1s ease-in-out;
  }

  @keyframes slideDownAnimation {
    0% {
      transform: translatey(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(10);
      opacity: 1;
    }
  }

  .mobile_menu_icon_div {
    display: flex;
    margin-top: -0.1rem;
    margin-left: 24rem;
  }
  #menu_open,
  #menu_close {
    margin-top: 0.1rem;
    width: 3rem;
  }
  .menu_a {
    display: flex;
    padding-top: 1rem;
    font-size: 2rem;
  }

  .logo_icon {
    width: 1.7rem;
    margin-top: -0.2rem;
    margin-right: -2rem;
    cursor: pointer;
  }

  .logo_icon2 {
    width: 1.7rem;
    margin-top: -0.2rem;
    margin-right: -2rem;
    cursor: pointer;
  }

  .logo_text {
    white-space: nowrap;
    font-size: 2.3rem;
    margin-left: 1rem;
  }

  .logo_menu_c0ntainer {
    display: block;
    margin-top: -1.2rem;
  }

  .logo_conatiner {
    display: flex;
    margin-left: -4.6rem;
    font-size: 0.9rem;
    gap: 2rem;
  }
  .menu_ul {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    font-size: 2rem;
    padding-bottom: 4rem;
  }

  .hidden {
    display: none;
  }

  .Hero_wrapper {
    display: flex;
    flex-direction: column;
  }

  .hello_text {
    font-size: 4rem;
    text-align: center;
  }

  .name_text {
    font-size: 4rem;
    white-space: nowrap;
    text-align: center;
  }

  .developer_text,
  .developer_text2 {
    font-size: 2.5rem;
    white-space: nowrap;
  }
  .logos_div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .github_logo_div,
  .linkiden_logo_div,
  .twitter_logo_div,
  .tiktok_logo_div {
    margin-bottom: 2rem;
    width: 5rem;
    height: 5rem;
  }

  .cv_btn {
    display: block;
    margin: 0 auto;
    font-size: 1.4rem;
  }

  .right_side_container {
    display: none;
  }

  .github_img,
  .linkiden_img,
  .twitter_img,
  .tiktok_img {
    width: 2rem;
  }
  .right_side_container {
    width: 18rem;
    height: 18rem;
  }

  .Hero_imge {
    width: 18rem;
  }

  .innerSection_container {
    display: flex;
    flex-direction: column;
  }

  .leftImage_container {
    display: flex;
    margin: 0 auto;
    height: 20% !important;
    width: 40% !important;
  }
  .images_123_div,
  .image_456_div {
    display: flex;
    flex-direction: column;
  }
  .righttext_andbutton_container {
    display: block;
    text-align: center;
    margin-top: 2rem;
    margin-left: -0.4rem;
  }
  .paragraph2_text {
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 1.2rem;
  }
  .leftImage_container {
    width: 60%;
    height: 230px;
  }
  .div_1,
  .div_2,
  .div_3,
  .div_4,
  .div_5,
  .div_6 {
    width: 60%;
    height: 340px;
  }
  .projects_image {
    width: 420px;
  }

  .about_me_text,
  .me_span {
    font-size: 2.2rem;
  }
  #first-name,
  #last-name,
  #message {
    font-size: 1.4rem;
  }
  .form-container {
    width: 100%;
  }

  .footer_text {
    margin-top: 0.6rem;
    font-size: 2rem !important;
  }

  .submit_form_tn {
    font-size: 1.5rem;
  }

  .skills > li {
    font-size: 1.2rem;
  }

  .our_services_text,
  .latestproject_text,
  .contact_me_tex {
    font-size: 3rem !important;
  }
}
@media screen and (min-width: 835px) and (max-width: 900px) {
  .header_container {
    height: 100%;
    width: 100%;
  }

  .menu_ul {
    scroll-snap-align: start;
    opacity: 1;
    animation: slideDownAnimation 1s ease-in-out;
  }

  @keyframes slideDownAnimation {
    0% {
      transform: translatey(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(10);
      opacity: 1;
    }
  }

  .mobile_menu_icon_div {
    display: flex;
    margin-top: -0.1rem;
    margin-left: 30rem;
  }
  #menu_open,
  #menu_close {
    margin-top: 0.1rem;
    width: 3rem;
  }
  .menu_a {
    display: flex;
    padding-top: 1rem;
    font-size: 2rem;
  }

  .logo_icon {
    width: 1.7rem;
    margin-top: -0.2rem;
    margin-right: -2rem;
    cursor: pointer;
  }

  .logo_icon2 {
    width: 1.7rem;
    margin-top: -0.2rem;
    margin-right: -2rem;
    cursor: pointer;
  }

  .logo_text {
    white-space: nowrap;
    font-size: 2.3rem;
    margin-left: 1rem;
  }

  .logo_menu_c0ntainer {
    display: block;
    margin-top: -1.2rem;
  }

  .logo_conatiner {
    display: flex;
    margin-left: -4.6rem;
    font-size: 0.9rem;
    gap: 2rem;
  }
  .menu_ul {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    font-size: 2rem;
    padding-bottom: 4rem;
  }

  .hidden {
    display: none;
  }

  .Hero_wrapper {
    display: flex;
    flex-direction: column;
  }

  .hello_text {
    font-size: 4rem;
    text-align: center;
  }

  .name_text {
    font-size: 4rem;
    white-space: nowrap;
    text-align: center;
  }

  .developer_text,
  .developer_text2 {
    font-size: 2.5rem;
    white-space: nowrap;
  }
  .logos_div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .github_logo_div,
  .linkiden_logo_div,
  .twitter_logo_div,
  .tiktok_logo_div {
    margin-bottom: 2rem;
    width: 5rem;
    height: 5rem;
  }

  .cv_btn {
    display: block;
    margin: 0 auto;
    font-size: 1.4rem;
  }

  .right_side_container {
    display: none;
  }

  .github_img,
  .linkiden_img,
  .twitter_img,
  .tiktok_img {
    width: 2rem;
  }
  .right_side_container {
    width: 18rem;
    height: 18rem;
  }

  .Hero_imge {
    width: 18rem;
  }

  .innerSection_container {
    display: flex;
    flex-direction: column;
  }

  .leftImage_container {
    display: flex;
    margin: 0 auto;
    height: 20% !important;
    width: 40% !important;
  }
  .images_123_div,
  .image_456_div {
    display: flex;
    flex-direction: column;
  }
  .righttext_andbutton_container {
    display: block;
    text-align: center;
    margin-top: 2rem;
    margin-left: -0.4rem;
  }
  .paragraph2_text {
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 1.2rem;
  }
  .leftImage_container {
    width: 60%;
    height: 230px;
  }
  .div_1,
  .div_2,
  .div_3,
  .div_4,
  .div_5,
  .div_6 {
    width: 60%;
    height: 340px;
  }
  .projects_image {
    width: 420px;
  }

  .about_me_text,
  .me_span {
    font-size: 2.2rem;
  }
  #first-name,
  #last-name,
  #message {
    font-size: 1.4rem;
  }
  .form-container {
    width: 100%;
  }

  .footer_text {
    margin-top: 0.6rem;
    font-size: 2rem !important;
  }

  .submit_form_tn {
    font-size: 1.5rem;
  }

  .skills > li {
    font-size: 1.2rem;
  }

  .our_services_text,
  .latestproject_text,
  .contact_me_tex {
    font-size: 3rem !important;
  }
}
@media screen and (min-width: 901px) and (max-width: 1440px) {
  .right_side_container {
    width: 22rem;
    height: 54vh;
  }
  .leftImage_container {
    width: 22rem;
    height: 54vh;
  }

  #first-name,
  #last-name,
  #message {
    font-size: 1rem;
  }
  .form-container {
    width: 100%;
  }

  .footer_text {
    margin-top: 0.6rem;
    font-size: 1.5rem !important;
  }

  .submit_form_tn {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1441px) and (max-width: 2560px) {
  .menu_a {
    font-size: 2.5rem;
  }

  .logo_text {
    font-size: 4rem;
  }
  .logo_im {
    width: 2.5rem;
  }

  .hello_text {
    font-size: 6rem;
  }

  .name_text {
    font-size: 5rem;
  }

  .developer_text {
    font-size: 3rem;
  }

  .github_logo_div,
  .linkiden_logo_div,
  .twitter_logo_div,
  .tiktok_logo_div {
    width: 5rem;
    height: 5rem;
    margin-right: 2rem;
  }

  .twitter_img,
  .tiktok_img,
  .linkiden_img,
  .github_img {
    width: 2.2rem;
  }

  .cv_btn {
    display: block;
    margin: 0 auto;
    font-size: 2rem;
    margin-top: 1rem;
    float: left;
  }

  .right_side_container {
    width: 26%;
    height: 18rem;
  }

  .Hero_imge {
    width: 100%;
  }

  .aboutMe_image {
    width: 93%;
  }

  .about_me_text {
    font-size: 6rem;
  }

  .frontend_text {
    font-size: 3rem;
  }

  .paragraph2_text {
    font-size: 2rem !important;
    line-height: 3rem !important;
  }

  .read_more_btn {
    font-size: 2rem;
  }

  .our_services_text {
    font-size: 4rem;
  }

  .skills {
    width: 80rem;
  }

  .skill_label {
    font-size: 2rem;
  }
  .bar {
    margin-top: 2rem;
  }

  #Services {
    height: 60rem;
  }

  .right_side_container {
    height: 40vh;
  }
  .leftImage_container.leftImage_container {
    height: 41vh;
  }

  #first-name,
  #last-name,
  #message {
    font-size: 1.4rem;
  }

  .form-container {
    width: 100%;
  }

  .footer_text {
    margin-top: 0.6rem;
    font-size: 2rem !important;
  }

  .submit_form_tn {
    font-size: 1.5rem;
  }

  .paragraph2_text {
    font-size: 1.5rem;
  }

  .latestproject_text {
    font-size: 4rem;
  }

  #Portfolio {
    height: 80rem;
  }

  .div_1,
  .div_2,
  .div_3,
  .div_4,
  .div_5,
  .div_6 {
    width: 25%;
    height: 450px;
  }

  .projects_image {
    width: 560px;
  }
  #Contact {
    height: 60rem;
  }

  form-container {
    width: 100rem !important;
  }
}
